{% extends "base.html" %}

{% block content %}
<h2>Products</h2>

    {% if not products %}
      <em class="note">There are no products in your store.</em>
    {% else %}

      {% for product in products %}
        <div class="product box">
          <div class="wrapper">
        
            {% if product.images[0] %}
                <img src="{{ product.images[0].src }}" width="100"/>
            {% endif %}
            <!-- <h4><a href="https://{{ shop.domain }}/admin/products/{{ product.id }}">{{ product.title }}</a></h4> -->
            <h4><a href="/product/{{ product.id }}">{{ product.title }}</a></h4>

            <p class="price">{{ product.price }} {{ shop.currency }}</p>
            <p style="margin-bottom: 0">{{ product.product_type }} <span class="note">type</span></p>
            <p style="margin: 0">{{ product.vendor }} <span class="note">vendor</span></p>
      
            <div style="clear:left"></div>
          </div>
        </div>
      {% endfor %}

    {% endif %}
{% endblock %}
