{% extends "base.html" %}

{% block js %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-ui.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src='/_ah/channel/jsapi'></script>

<script type='text/javascript'>    
    $(function () {

        // $('.product').hover(
        //     function (){
        //         $(this).find('.upload_buttons').show();
        //     },
        //     function () {
        //         $(this).find('.upload_buttons').hide();
        //     }                
        // );
        
        $list = $('#product-list');
        vendor_filter = false;
        type_filter = false;
        
        $('#filter-vendor a').click(function(){
            var filterName = $(this).attr('data-filter');
            vendor_filter = filterName;
            if (type_filter && type_filter != '*') {
                filterName = filterName+type_filter;
            }
            $list.isotope({ filter: filterName });
            return false;
        });
        
        $('#filter-product-type a').click(function(){
            var filterName = $(this).attr('data-filter');
            type_filter = filterName;
            if (vendor_filter && vendor_filter != '*') {
                filterName = filterName+vendor_filter;
            }
            $list.isotope({ filter: filterName });
            return false;
        });
        
        // switches selected class on buttons
        $('#options').find('.option-set a').click(function(){
            var $this = $(this);
            // don't proceed if already selected
            if ( !$this.hasClass('selected') ) {
                $this.parents('.option-set').find('.selected').removeClass('selected');
                $this.addClass('selected');
            }
        });
        
        $list.isotope({
            layoutMode : 'fitRows',
            itemSelector : '.product',
        });
        
        // Initialize jQuery File Upload (Extended User Interface Version):
        $('.file_upload').fileUploadUI({
            uploadTable: $('#file-queue'),
            buildUploadRow: function (files, index, handler) {
                return $('<tr><td>' + files[index].name + '<\/td>' +
                        '<td class="file_upload_progress"><div><\/div><\/td>' +
                        '<td class="file_upload_cancel">' +
                        '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                        '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                        '<\/button><\/td><\/tr>');
            },
            onSend: function(e, files, index, xhr, handler) {
                if (index == 0) {
                    $("#panel").toggle("slow");
                    d = $(e.target);
                    $(d).find('.images').html('<img style="margin-top:20px;margin-left:50px;" src="/images/loadingbar.gif" />');
                }
            },
            onLoadAll: function() { $("#panel").toggle("slow"); },
        });
    });

</script>

{% endblock %}

{% block css %}
<style>
#panel {
    position: fixed;
    top: 50%;
    left: 25%;
    display:none;
    height:auto;
    width: 330px;    
    padding: 30px 30px 30px 130px;
    background: black;
    color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    opacity: .85;
    filter: alpha(opacity=85);
    z-index: 999; 
}

.file_upload_highlight {
    border: solid 2px red;
}

</style>
{% endblock %}

{% block content %}
<div id="panel">
    <table id="file-queue"></table>
</div>

<script type='text/javascript'>

    
    // App Engine Channel API
    
    onMessage = function(m) {
        m = JSON.parse(m.data);
        if (!m.error) {
            // Saved to shopify, update the div
            sel = $('#product-'+m.product_id+' .images')
            sel.empty();
            $.each(m.image_urls, function(i, val) {
                sel.append('<img src="'+val+'" width=50 />');
            });
        }
    };
    
    openChannel = function() {
      var token = '{{ channel_token }}';
      var channel = new goog.appengine.Channel(token);
      var handler = {
        'onmessage': onMessage,
        'onopen': function() {},
        'onerror': function() {},
        'onclose': function() {}
      };
      var socket = channel.open(handler);
      socket.onmessage = onMessage;
    };

    initialize = function() {
      openChannel();
    };

    setTimeout(initialize, 100);

</script>


{% if not products %}
    <em class="note">There are no products in your store.</em>
{% else %}

    <div id="options" class="clearfix">
        <div class="option-combo">
            <ul id="filter-vendor" class="option-set floated clearfix">
                <li><a href="#vendor-all" data-filter="*" class="selected">All Vendors</a></li>
                {% for v in vendors %}
                    <li><a href="#{{ v.slug }}" data-filter=".vendor-{{ v.slug }}">{{ v.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="option-combo">
            <ul id="filter-product-type" class="option-set floated clearfix">
                <li><a href="#product-type-all" data-filter="*" class="selected">All Types</a></li>
                {% for t in product_types %}
                    <li><a href="#{{ t.slug }}" data-filter=".product-type-{{ t.slug }}">{{ t.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="product-list" class="fitRows clearfix">
      {% for product in products %}
        <div id="product-{{ product.id }}" class="product box vendor-{{ product.vendor_slug }} product-type-{{ product.product_type_slug }}" style="width:90%;">
            <form class="file_upload" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="protocol" value="http">
                <input type="hidden" name="product_id" value="{{ product.id }}" />
                <input type="hidden" name="product_handle" value="{{ product.handle }}" />                    
                <div class="wrapper clearfix">
                    <div style="float:left;margin-right:50px;">
                        <h4><a href="https://{{ shop.domain }}/admin/products/{{ product.id }}">{{ product.title }}</a></h4>
                        <p style="margin-bottom: 0">{{ product.product_type }} <span class="note">type</span></p>
                        <p style="margin: 0">{{ product.vendor }} <span class="note">vendor</span></p>
                    </div>
                    <div class="images">
                        {% for i in product.images %}
                            <img src="{{ i.src }}" width="50"/>
                        {% endfor %}
                    </div>
                </div>
                <div class="upload_buttons clearfix" style="display:none;">
                    <input type="file" name="file" multiple>
                    <button type="submit">Upload</button>
                </div>
            </form>
        </div>
        <div style="clear:all;"></div>
      {% endfor %}
     </div>

{% endif %}
{% endblock %}
