{% extends "base.html" %}

{% block content %}
<div id="sidebar">
  <h3>Where to start</h3>
  <h4>Check out <code style="font-size: 140%">views.index</code></h4>

  <p class="description">
    This view fetches the latest 3 orders and products and makes them available as instance variables <code style="color: #218BCE">orders</code> and <code style="color: #218BCE">products</code>.
  </p>

  <h4>Check out the <code>index</code> template</h4>

  <p class="description">
    This is the Jinja2 template you are currently looking at. It is located at:<br />  
  </p>

  <p style="background: #fff; margin-left: 4px"><code>application/templates/index.html</code></p>

  <h3>Additional documentation</h3>

  <p class="description">
    Become an expert:
  </p>

  <ul>
    <li>
      <a href="http://www.shopify.com/developers/api/">API documentation</a>
      <span class="note">The reference: what you can do with the Shopify API.</span>
    </li>
    <li>
      <a href="http://wiki.shopify.com/">Wiki</a>
      <span class="note">Get more information and share your knowledge.</span>
    </li>
    <li>
      <a href="http://forums.shopify.com/community">Forum</a>
      <span class="note">Ask questions and see what others already wanted to know.</span>
    </li>
  </ul>

  <h3>Once you're ready</h3>

  <p class="description">
    We'd love to see what you create using the Shopify API. 
    Find out how to share your application with the world and read the latest information on the <a href="http://www.shopify.com/developers/publishing/">API Publishing Page</a>
  </p>
</div>

<h2>Products</h2>

    {% if not products %}
      <em class="note">There are no products in your store.</em>
    {% else %}

      {% for product in products %}
        <div class="product box">
          <div class="wrapper">
        
            {% if product.images[0] %}
                <img src="{{ product.images[0].src }}" width="100"/>
            {% endif %}
            <!-- <h4><a href="https://{{ shop.domain }}/admin/products/{{ product.id }}">{{ product.title }}</a></h4> -->
            <h4><a href="/product/{{ product.id }}">{{ product.title }}</a></h4>

            <p class="price">{{ product.price }} {{ shop.currency }}</p>
            <p style="margin-bottom: 0">{{ product.product_type }} <span class="note">type</span></p>
            <p style="margin: 0">{{ product.vendor }} <span class="note">vendor</span></p>
      
            <div style="clear:left"></div>
          </div>
        </div>
      {% endfor %}

    {% endif %}
{% endblock %}
