{% extends "base.html" %}

{% block css %}
<link href="/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"  media="all"  />
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-ui.js"></script>
<script>

    $(function () {
        // Initialize jQuery File Upload (Extended User Interface Version):
        $('#file_upload').fileUploadUI({
            uploadTable: $('#files'),
            buildUploadRow: function (files, index, handler) {
                return $('<tr><td>' + files[index].name + '<\/td>' +
                        '<td class="file_upload_progress"><div><\/div><\/td>' +
                        '<td class="file_upload_cancel">' +
                        '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                        '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                        '<\/button><\/td><\/tr>');
            },
            buildDownloadRow: function (file, handler) {
                return $('<tr><td>' + file.name + '<\/td><\/tr>');
            },
        });
    });

</script>

{% endblock %}

{% block content %}
<div id="sidebar">
    <form id="file_upload" action="/upload" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="file" multiple> 
        <input type="hidden" name="protocol" value="http">
        <input type="hidden" name="product_id" value="{{ product.id }}" />
        <input type="hidden" name="product_handle" value="{{ product.handle }}" />
        <input type="hidden" name="next" value="/product/{{ product.id }}" />
        <button type="submit">Upload</button>
        <div>Upload files</div> 
    </form> 
    <table id="files"></table> 
    
    <br />

    <h2>Uploaded images</h2>
    {% for u in upload_images %}
        <img src="{{ u }}" width=100 /><br />
    {% endfor %}

</div>

<h3>{{ product.title }}</h3>
<a href="https://{{ shop.domain }}/admin/products/{{ product.id }}">Go to the Admin for this product</a>

<p class="description">
    {{ product.description }}
</p>
<p class="price">{{ product.price }} {{ shop.currency }}</p>
<p style="margin-bottom: 0">{{ product.product_type }} <span class="note">type</span></p>
<p style="margin: 0">{{ product.vendor }} <span class="note">vendor</span></p>

<h3>Images</h3>

<div class="images">
    {% for i in product.images %}
        <img src="{{ i.src }}" width="200" />
    {% endfor %}
</div>

{% endblock %}
